body {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

h1 {
    text-align: center;
}

h4, li {
    margin-left: 5%;
}

.subhead {
    margin-left: 8%;
}

.subheadA {
    margin-left: 10%;
}